// Colors
$trafford-blue: #0088b2;
$trafford-red: #b52126;

$primary-color: $trafford-blue!default;
$grey: #999999;
$white: #FFFFFF;
$dark-grey: #575756;
$black: #000000;
$pale-grey: #ecebeb;
$very-pale-grey: #f8f8f8;
$light-grey: #cccccc;
$very-dark-grey: #333333;

$theme-color: $primary-color!default;
