// Colours
$color_bondi_blue_approx: #0089b0;
$white: #fff;
$color_mountain_mist_approx: #999;
$black: #000;
$color_storm_dust_approx: #666;
$black_50: rgba(0, 0, 0, 0.5);
$concrete: #f2f2f2;
$color_chicago_approx: #575756;
$gray: #808080;
$color_cararra_approx: #ecebeb;
$color_celeste_approx: #ccc;
$color_mine_shaft_approx: #333;