// Classes

.clearfix {
    &:before, &:after {
        content: '\0020';
        display: block;
        overflow: hidden;
        visibility: hidden;
        width: 0;
        height: 0;
    }
}

// Prepend images

.add-icon-before:before {
    content: "\271A";
}

.edit-icon-before:before {
    content: "\270E";
}

.delete-icon-before:before {
    content: "\2718";
}

.save-icon-before:before {
    content: "\2714";
}

.email-icon-before:before {
    content: "\2709";
}

.cross-icon-before:before {
    content: "\2716";
}

.search-icon:before {
    content: "\1f50d";
}
