// Restyle Contensis controls to match our corporate style

// Summary list items (news & events listings, A-Z results)
%summary-list__item {
    border-bottom: 1px solid $pale-grey;
    padding-bottom: $base-font-size/2;
    margin-bottom: $base-font-size;
}

.sys_imageslideshowgallery {
    &-title,
    &-caption { display: none; }
    &-control { width: auto; }
    &-container { background-color: $white; }
}

.sys_imageslideshownav-control,
.sys_generic_list-description,
.sys_imagegallery {
    &-next, &-prev { display: none; }
}

.sys_search {
    &-label,
    &-title { display: none; }
    &box {
        background-color: white;
        border: 0;
        color: #575756;
        height: 32px;
        width: 160px;
    }
    &-button {
        background: $white url(/Images/TraffordSearchButton-Cropped-30x30.gif);
        border: 0;
        margin: 0;
        padding: 0;
        text-indent: -9999px;
        width: 32px;
        height: 32px;
    }
}

dt.sys_search {
    &-description,
    &-url {
        display: none;
    }
}

dd.sys_search-url { display: none; }

.sys_addcomments {
    &-title {
        @extend .aside-block__header;
    }
    &-row {
        margin-top: $base-font-size/2;
    }
}

.sys_generic_list-subheading,
.sys_groupheader {
    @extend .h3;
}

dt.sys_news-description,
dt.sys_generic_list-description {
    display: none;
}

.sys_subitem,
.sys_events,
.sys_news {
    &-heading,
    &-subheading {
        @extend .h3;
    }
    &-summary {
        @extend %summary-list__item;
    }
    dt {
        float: left;
        width: $base-font-size*6;
        margin-right: $base-font-size;
        .sys_events-description {
            display: none;
        }
    }
}


dd.sys_events {
    &-date,
    &-time,
    &-location,
    &-description,
    &-category {
        margin-left: $base-font-size*7;
    }
}

.sys_paginginfo {
  float: right;
}

.sys_navigationprevious.sys_disabled {
  color: $light-grey;
}

.sys_page > a {
  border: 1px solid $light-grey;
  padding: 0.2em 0.5em;
    &:hover {
        background-color: $theme-color;
        color: $white;
        text-decoration: none;
    }
}

.sys_atoz {
    &-control {
        @include font-size($h3-font-size);
        border-bottom: 1px solid $pale-grey;
        border-top: 1px solid $pale-grey;
        // fix to stop this div from collapsing
        &:after {
            @extend .clearfix;
        }
        & > ul {
            margin-left: 0;
        }
        li, .sys_noresults {
            clear: none;
            float: left;
            list-style: none;
            width: $base-font-size*2.8;
            a {
                padding: $base-font-size/2;
                &:hover {
                @extend %inverted;
                text-decoration: none;
                }
            }
        }
        .sys_noresults { 
            color: $grey;
            span { padding: $base-font-size/2; }
        }
    }
    &_heading {
        @extend .h2;
    }
}

.sys_first {
    &.sys_0to9 {
        width: 2em;
    }
    a {
        color: $theme-color;
    }
}

.sys_21, .sys_0, .sys_16 {
    color: $theme-color;
}
