//colors
$white: #fff;
$black: #000;
$gray: #808080;
$concrete: #f2f2f2;
$black_10: rgba(0, 0, 0, 0.1);
$black_50: rgba(0, 0, 0, 0.5);
$color_allports_approx: #007c9e;
$color_blue_lagoon_approx: #00708f;
$color_mine_shaft_approx: #333;
$color_alabaster_approx: #f9f9f9;
$color_cod_gray_approx: #0a0a0a;
$color_hit_gray_approx: #b1b4b6;
$color_gallery_approx: #eee;
$color_sherpa_blue_approx: #003d4e;
$color_fuscous_gray_approx: #575755;
$color_martini_approx: #999;
$color_silver_approx: #ccc;
$color_red_berry_approx: #9b0000;
$color_mercury_approx: #e3e3e3;
$color_gray_approx: #888;
$color_disco_approx: #8e154c;
$color_java_approx: #1fb7a4;
$color_amber_approx: #ffbe00;
$color_sushi_approx: #8cbd48;
$color_cardinal_approx: #b5222a;
$color_athens_gray_approx: #f0f2f5;
$color_science_blue_approx: #0275d8;
$color_endeavour_approx: #025aa5;
$color_fern_approx: #5cb85c;
$color_apple_approx: #4cae4c;
$color_lochmara_approx: #0087dc;
$color_saffron_approx: #fdbb30;
$color_seance_approx: #70147a;
$color_lima_approx: #6ab023;
$color_thunderbird_approx: #dc241f;
$color_jaffa_approx: #eb7a43;
$color_slate_gray_approx: #789;
$color_gray_30_approx: rgba(136, 136, 136, 0.3);
$color_lightning_yellow_approx: #fdc428;
$color_dove_gray_approx: #686868;
$color_blush_approx: #b74d64;
$color_cerulean_approx: #00adc8;
$color_dell_approx: #477224;
$color_alto_approx: #ddd;
$color_japanese_laurel_approx: #008000;
$color_torea_bay_approx: #082f9e;
$color_green_haze_approx: #089e6c;
$color_totem_pole_approx: #9e2c01;
$color_buttered_rum_approx: #9e7601;
