a {
    color: $theme-color;
    text-decoration: none;
    &:hover { text-decoration: underline; }
}



.residents,
.business,
.council,
.visitors {
    @extend %intersite-nav;
}

.breadcrumbs {
    margin: $base-font-size 0;
}

.mainnav {
    margin-bottom: $base-font-size*2;
    h3 a, &__header {
        color: $black;
    }
    ul {
        margin: 0;
    }
    li {
        display: inline;
        list-style: none;
        &:after {
            content: '\00a0\007C ';
        }
        &:last-child:after {
            content: '';
        }
    }
}

.atoz {
    text-transform: uppercase;
    background-color: $black;
    color: $white;
    margin-top: $base-font-size;
    .title {
        display: none;
    }
    ul {
        @extend .clearfix;
        margin: auto;
        padding: 0;
        text-align: center;
    }
    li {
        display: inherit;
        display: inline-block;
        width: $base-font-size * 2;
        list-style: none;
        margin-bottom: 0;
        &:hover {
            @extend %inverted;
        }
        @media screen and (max-width: $breakpoint-tablet - 1px) {
            margin: $base-font-size / 2;
        }
    }
    a {
        @include font-size($h3-font-size);
        color: $white;
        padding: $base-font-size / 4;
        &:hover {
            text-decoration: none;
        }
    }
}

.social-links {
    text-align: right;
    margin-top: $base-font-size;
    img {
        display: inline-block;
        margin-right: $base-font-size / 2;
        width: auto;
    }
    @media screen and (max-width: $breakpoint-tablet - 1px) {
        text-align: center;
        margin: $base-font-size 0;
    }
}
