/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
    #Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */

/* #Page Styles
================================================== */

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {
		.atoz li:nth-of-type(1){ display:block;}
		
		.brand {
			font-size: 1.7em;
		}
	}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
	
		.header {text-align:center;}
		
		.headerinner {
			background-color: #585856;
			height:auto;
		}
		
		.header .logo {
			display:none;
		}
	
		.brand {
			background-color: #0089B0;
			padding-top:0.5em;
		}
  
  	.fostering {
			background-color: #B0589D;
			
		}
		
		
		.header .search { margin:1em;}
				
		.socialmedia ul li {
			display: inline-block;
			width: 24%;
		}
        
        .do-it > div {
            float:none;
            width:100%;
            overflow:hidden;
            margin:1em 0;
            background-position:10px center;
        }
        
        .do-it h3, .do-it p {
            margin-left: 80px;
            margin-top: 0;
            min-height:0;
        }
		
		.footer {text-align:center;}
		
		.footer .contact-details {
			border-left:none;
			padding-left:0;
			margin-top:0;
		}
		
		.footer .other-links {
			margin: 1em;
		}
		
		
		.footer .other-links img {
			display: inline-block;
			float:none;
		}

	}
    
    /* For non-mobile devices */
    @media only screen and (min-width: 767px) {
        .header-overlay{ display:block; position:absolute; z-index:999; right:0; top:106px; }
    }
    
    /* Only for larger screen devices */
    @media only screen and (min-width: 959px) {
        .fwwlogo{ display:block; position:absolute; z-index:999; right:150px; top:120px; }
    }


	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {
		
	}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/