/*------------------------------------*\
    Classes
    Common (non-content specific) classes
\*------------------------------------*/

.clearfix {
  &:before, &:after {
    content: '\0020';
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
  }
}

.aside-block__header {
    @extend %inverted-header;
    @include font-size($h3-font-size);
    font-weight: 400;
    // FF doesn't like combined margin statement here, so be specific
    margin: $base-font-size/-2;
    margin-bottom: inherit;
}

/*------------------------------------*\
    Placeholders
    (i.e. 'invisible' classes)

    If parameters need to be used, then use a mixin instead
\*------------------------------------*/

%body-table {
    width: 100%;
    caption { display: none; }
    tr {
        background-color: $pale-grey;
        &:nth-of-type(even){
            background-color: $very-pale-grey;
        }
    }
    th,
    td {
        text-align: left;
        vertical-align: middle;
        padding: $base-font-size;
    }
    th {
        background-color: $theme-color;
        color: $white;
        font-weight: 700;
    }
}

%inverted {
    background-color: $theme-color;
    color: $white;
}

%inverted-header {
    @extend %inverted;
    padding: $base-font-size/2;
}

%intersite-nav {
    background-color: $black;
    color: $white;
    min-width: 136px;
    text-align: center;
    @include font-size(16px, 40px);
    &.current {
        background-color: $white;
        color: $dark-grey;
        &:hover {
            @extend %inverted;
        }
    }
    &:hover {
        @extend %inverted;
    }
    a {
        padding: 0 $base-font-size;
        color: inherit;
        &:after {
            content: '\00a0\2193';
            font-weight: 400;
        }
        &:before {
            content: 'for\00a0';
            font-weight: 400;
        }
        &:hover {
            text-decoration: none;
        }
        &:visisted {
            color: $white;
        }
    }
}

%related-links {
    background-color: $pale-grey;
    @include font-size();
    ul { margin: 0; }
    li {
        list-style: none;
    }
}

