/*------------------------------------*\
Mixins & placeholders
Placeholders = plain css rule templates (use with '@extend %placeholdername')
Mixins = css rule functions (i.e. accepts parameters)
\*------------------------------------*/


/*------------------------------------*\
Placeholders
\*------------------------------------*/

// Convert font size to rem, with px fallback for IE
// (see http://www.stubbornella.org/content/2013/07/01/easy-peasy-rem-conversion-with-sass/)
@function calculateRem($size) {
  $remSize: $size / 16px;
  @return #{$remSize}rem;
}

@mixin font-size($fontSize: $base-font-size, $lineHeight: $fontSize*1.4) {
    font-size: $fontSize; //Fallback in px
    line-height: ($lineHeight);
    font-size: calculateRem($fontSize);
    line-height: ($lineHeight / $base-font-size) + rem;
}
