$base-font-size: 16px;                                // base font size (px)
$h1-font-size: 40px;
$h2-font-size: 36px;
$h3-font-size: 24px;
$h4-font-size: 18px;
$p-font-size: $base-font-size*1.2;

// Colors
$primary-color: #0089B0;
$grey: #999999;
$white: #FFFFFF;
$dark-grey: #575756;
$black: #000000;
$pale-grey: #ecebeb;
$very-pale-grey: #f8f8f8;
$light-grey: #cccccc;
$very-dark-grey: #333333;

$fostering-theme-color: #b0589d;

$theme-color: $primary-color;


// Responsive breakpoints
$container-width: 960px;
$breakpoint-desktop: 959px;
$breakpoint-tablet: 768px;
$breakpoint-mobile-landscape: 480px;
