// Asides

%related-links__list {
    ul {
        margin-left: 0;
    }
    ol {
        padding-left: 0;
        margin: 0;
    }
    li {
        list-style: none;
    }
}

.aside {
    margin-top: -($base-font-size * 1.25);
}

.aside-block {
    @extend %related-links__list;
    box-sizing: border-box;
    background-color: $concrete;
    margin-top: $base-font-size * 1.25;
    margin-bottom: $base-font-size * 1.25;
    padding: $p-font-size / 2;
    h2, h3, &__header {
        @extend .inverted-header;
        @extend .h3;
        margin: -($p-font-size / 2);
        font-weight: 400;
        margin-bottom: 0;
    }
}

// News and what's on
.news, .whats-on {
    @extend .aside-block;
    background-color: transparent;
}

.sys_news-datepublished, .sys_events-date {
    @include font-size($p-font-size * 0.85, $p-font-size * 0.85);
    display: block;
    color: $color_chicago_approx;
}

.localtoyou {
    @extend .aside-block;
    input {
        font-size: $p-font-size;
    }
    #PostCodeControl_txtPostCode {
        @extend %search-box;
    }
}

.feedback {
    padding: 0;
}

#FeedbackControl_Container, #feedback_control_rate_only_Container {
    @extend .aside-block;
    .sys_addcomments {
        &-row {
            box-sizing: border-box;
            & input {
                font-size: $p-font-size;
            }
            & * {
                box-sizing: border-box;
            }
        }
        &-title {
            @extend .h3;
            @extend .inverted-header;
            margin: -($p-font-size / 2);
            margin-bottom: 0;
            font-weight: 400;
        }
    }
    .sys_comments-rating-and-button {
        padding: 10px;
    }
}
