// Form components (excluding buttons)

%search-box {
    float: left;
    background-color: white;
    border: 0;
    color: $color_mine_shaft_approx;
    height: $base-font-size * 2;
    width: 166px;
    box-sizing: border-box;
    border-radius: 3px 0 0 3px;
    padding: $base-font-size / 4 $base-font-size / 2;
}

.main-search {
    background-color: $color_bondi_blue_approx;
    margin-top: 60px;
}

.sys_search {
    &-label,
    &-title {
        display: none;
    }
    &box {
        @extend %search-box;
    }
}

.search {
    margin-right: 16px;
    float: right;
    @media screen and (max-width: $breakpoint-tablet-portrait - 1px) {
        margin: 0 auto;
        padding: $base-font-size;
    }
    label {
        display: none;
    }
    input {
        @include font-size($p-font-size, $p-font-size);
        float: left;
        box-sizing: border-box;
        margin: 0;
        display: block;
    }
    @media screen and (max-width: $breakpoint-tablet-portrait - 1px) {
        margin: $p-font-size auto;
        width: 200px;
        padding: 0;
        float: none;
    }
}
