// Images

// TODO: Make this class name more specific to it role
.image {
    position: relative;
    img {
        height: auto;
        width: 100%;
    }
    .caption {
        vertical-align: bottom;
        position: absolute;
        text-align: right;
        bottom: 2px;
        right: 0;
        left: 0;
        color: $white;
        background-color: $black_50;
        padding: 6px;
        a {
            color: $white;
        }
    }
    @media screen and (max-width: $breakpoint-tablet-portrait - 1px) {
        img {
            display: none;
        }
        .caption {
            @include font-size($p-font-size);
            position: relative;
            text-align: left;
            bottom: auto;
            left: auto;
            right: auto;
            margin: $base-font-size 0;
        }
    }
}
