// Links

.link--inverted {
    &:hover {
        background-color: $color_bondi_blue_approx;
        color: $white;
        text-decoration: none;
    }
}

.link-more {
    color: $color_bondi_blue_approx;
    font-weight: bold;
}
