// Header layout

.header {
    &inner {
        background-color: $color_bondi_blue_approx;
        height: 132px;
        @media screen and (max-width: $breakpoint-tablet-portrait - 1px) {
            height: 110px;
        }
    }
    &-overlay {
        @extend %header__overlay;
    }
    .logo {
        @extend %header__logo;
    }
}
